.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
TeamManagementSystem.com/.idea/compiler.xml
TeamManagementSystem.com/.idea/encodings.xml
TeamManagementSystem.com/.idea/gradle.xml
TeamManagementSystem.com/.idea/misc.xml
TeamManagementSystem.com/.idea/modules.xml
TeamManagementSystem.com/.idea/runConfigurations.xml
TeamManagementSystem.com/.idea/vcs.xml
TeamManagementSystem.com/app/app.iml